# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /riacho_wp/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /riacho_wp/index.php [L]
</IfModule>

# END WordPress

php_value upload_max_filesize 80M
php_value post_max_size 80M
php_value max_execution_time 300
php_value max_input_time 300

RedirectMatch 301 /correio(.*) https://mail.riacho.me/mail
